if status is-interactive
    {{- if lookPath "/opt/homebrew/bin/brew" }}
    eval (/opt/homebrew/bin/brew shellenv)
    {{- end }}

    {{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
    {{- end }}

    if type -q atuin
        {{ lookPath "atuin" }} init fish --disable-up-arrow | source
    end

    if type -q direnv
        {{ lookPath "direnv" }} hook fish | source
    end

    if type -q mise
        {{ lookPath "mise" }} activate fish | source
    end

    if type -q starship
        {{ lookPath "starship" }} init fish | source
    end

    if type -q zoxide
        {{ lookPath "zoxide" }} init fish | source
    end
end

if type -q chezmoi
    alias cm {{ lookPath "chezmoi" }}
end

if type -q lsd
    alias ls {{ lookPath "lsd" }}
end
