set -gx KUBE_EDITOR nano
set -gx VISUAL nano
set -gx EDITOR nano
set -gx HOMEBREW_NO_ANALYTICS 1
set -gx GOPATH {{ .chezmoi.homeDir }}/.go
set -gx ANSIBLE_FORCE_COLOR true
set -gx ANSIBLE_HOST_KEY_CHECKING False
set -gx PY_COLORS true
set -gx GPG_TTY (tty)

{{- if stat (joinPath .chezmoi.homeDir ".config/sops/age/keys.txt") }}
set -gx SOPS_AGE_KEY_FILE {{ .chezmoi.homeDir }}/.config/sops/age/keys.txt
{{- end }}

fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.cargo/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.go/bin"

{{- if (eq .chezmoi.os "darwin") }}
fish_add_path "/opt/homebrew/opt/curl/bin"
fish_add_path "/opt/homebrew/opt/gettext/bin"
fish_add_path "/opt/homebrew/opt/libiconv/bin"
fish_add_path "/opt/homebrew/opt/findutils/libexec/gnubin"
fish_add_path "/opt/homebrew/opt/coreutils/libexec/gnubin"
fish_add_path "/opt/homebrew/opt/grep/libexec/gnubin"
{{- end }}

{{- if lookPath "/opt/homebrew/bin/brew" }}
if status --is-interactive
    eval (/opt/homebrew/bin/brew shellenv)
end
{{- end }}

{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
if status --is-interactive
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}

if type -q atuin
    atuin init fish --disable-up-arrow | source
end

if type -q direnv
    direnv hook fish | source
end

if type -q thefuck
    thefuck --alias | source
end

if type -q starship
    starship init fish | source
end

if type -q zoxide
    zoxide init fish | source
end
