{{- if lookPath "/opt/homebrew/bin/brew" }}
if status --is-interactive
    eval (/opt/homebrew/bin/brew shellenv)
end
{{- end }}

{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
if status --is-interactive
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}
