fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.cargo/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.go/bin"

{{- if (eq .chezmoi.os "darwin") }}
fish_add_path "/opt/homebrew/opt/curl/bin"
fish_add_path "/opt/homebrew/opt/gettext/bin"
fish_add_path "/opt/homebrew/opt/libiconv/bin"
fish_add_path "/opt/homebrew/opt/findutils/libexec/gnubin"
fish_add_path "/opt/homebrew/opt/coreutils/libexec/gnubin"
fish_add_path "/opt/homebrew/opt/grep/libexec/gnubin"
{{- end }}
