{{- $personal := false -}}{{/* true if this is a personal machine */}}

{{- $personal = promptBool "personal" -}}

format: yaml
sourceDir: {{ .chezmoi.homeDir }}/Code/repos/onedr0p/dotfiles

data:
  name: "Devin Buhl"
  personal: {{ $personal | quote }}

{{- if lookPath "difft" }}
diff:
  command: difft
{{- end }}
