{{- if (eq .chezmoi.os "darwin") }}
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "esolitos/ipa"
brew "openssl@1.1"
brew "readline"
brew "python@3.9"
brew "ansible"
brew "aria2"
brew "asciinema"
brew "automake"
brew "awscli"
brew "bash"
brew "bat"
brew "coreutils"
brew "bats-core"
brew "gettext"
brew "calicoctl"
brew "chezmoi"
brew "croc"
brew "direnv"
brew "expect"
brew "fd"
brew "figlet"
brew "findutils"
brew "fish"
brew "flash"
brew "fzf"
brew "gawk"
brew "gcc"
brew "gh"
brew "git"
brew "git-crypt"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "hadolint"
brew "helm"
brew "htop"
brew "jenv"
brew "jq"
brew "kubernetes-cli"
brew "kubeseal"
brew "kustomize"
brew "libiconv"
brew "libvirt"
brew "mas"
brew "minikube"
brew "minio-mc"
brew "mitmproxy"
brew "mosh"
brew "nano"
brew "net-snmp"
brew "nmap"
brew "nvm"
brew "openssh"
brew "p7zip"
brew "pidof"
brew "pinentry-mac"
brew "podman"
brew "pre-commit"
brew "qemu"
brew "ruby-build"
brew "rbenv"
brew "rclone"
brew "rename"
brew "restic"
brew "rsync"
brew "ruby"
brew "ruby@2.7"
brew "shellcheck"
brew "shfmt"
brew "sops"
brew "starship"
brew "step"
brew "stern"
brew "telnet"
brew "terminal-notifier"
brew "tfenv"
brew "thefuck"
brew "tldr"
brew "tmux"
brew "tree"
brew "unzip"
brew "vault"
brew "watch"
brew "wget"
brew "xh"
brew "yamllint"
brew "yq"
brew "esolitos/ipa/sshpass"
cask "1password-cli"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "font-mononoki-nerd-font"
{{- end }}
