{{- if (eq .chezmoi.os "darwin") }}
tap "adoptopenjdk/openjdk"
tap "aquasecurity/trivy"
tap "chmouel/kss"
tap "dty1er/tap"
tap "fluxcd/tap"
tap "go-task/tap"
tap "goodwithtech/r"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "johanhaleby/kubetail"
tap "norwoodj/tap"
tap "tzvetkoff/extras"
tap "wez/wezterm"
brew "act"
brew "openssl@1.1"
brew "readline"
brew "python@3.9"
brew "ansible"
brew "ansible-lint", link: false
brew "aria2"
brew "asciinema"
brew "automake"
brew "awscli"
brew "bash"
brew "bat"
brew "coreutils"
brew "bats-core"
brew "openjdk"
brew "bfg"
brew "gettext"
brew "calicoctl"
brew "chezmoi"
brew "cmake"
brew "croc"
brew "direnv"
brew "dive"
brew "doctl"
brew "drone-cli"
brew "expect"
brew "fd"
brew "figlet"
brew "findutils"
brew "fish"
brew "flash"
brew "fzf"
brew "gawk"
brew "gcc"
brew "gh"
brew "git"
brew "git-crypt"
brew "git-quick-stats"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "grep"
brew "hadolint"
brew "helm"
brew "howdoi"
brew "htop"
brew "hub"
brew "jenv"
brew "jp2a"
brew "jq"
brew "jsonnet"
brew "k9s"
brew "kubernetes-cli"
brew "krew"
brew "kube-linter"
brew "kubectx"
brew "kubeseal"
brew "kubie"
brew "kustomize"
brew "libiconv"
brew "libvirt"
brew "mas"
brew "micro"
brew "minikube"
brew "minio-mc"
brew "mitmproxy"
brew "mono-libgdiplus"
brew "mosh"
brew "nano"
brew "neofetch"
brew "net-snmp"
brew "nmap"
brew "nvm"
brew "openssh"
brew "p7zip"
brew "pidof"
brew "pinentry-mac"
brew "podman"
brew "ponysay"
brew "pre-commit"
brew "pulumi"
brew "pv"
brew "python-yq", link: false
brew "qemu"
brew "ruby-build"
brew "rbenv"
brew "rclone"
brew "rename"
brew "restic"
brew "rsync"
brew "ruby"
brew "ruby@2.7"
brew "s3cmd"
brew "shellcheck"
brew "shfmt"
brew "sops"
brew "sphinx-doc"
brew "spotify-tui"
brew "sshpass"
brew "starship"
brew "step"
brew "stern"
brew "telnet"
brew "terminal-notifier"
brew "tfenv"
brew "thefuck"
brew "tldr"
brew "tmux"
brew "tree"
brew "unzip"
brew "vault"
brew "watch"
brew "wget"
brew "xh"
brew "yamllint"
brew "youtube-dl"
brew "yq"
brew "aquasecurity/trivy/trivy"
brew "chmouel/kss/kss"
brew "cjbassi/gotop/gotop"
brew "derailed/k9s/k9s"
brew "dty1er/tap/kubecolor"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"
brew "goodwithtech/r/dockle"
brew "johanhaleby/kubetail/kubetail"
brew "minio/stable/mc"
brew "norwoodj/tap/helm-docs"
brew "tzvetkoff/extras/im2a"
brew "weaveworks/tap/eksctl"
brew "wez/wezterm/wezterm"
cask "1password-cli"
cask "adoptopenjdk"
cask "adoptopenjdk11"
cask "adoptopenjdk8"
cask "alfred"
cask "alt-tab"
cask "android-platform-tools"
cask "appcleaner"
cask "balenaetcher"
cask "bitwarden"
cask "discord"
cask "firefox"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "font-mononoki-nerd-font"
cask "gifox"
cask "google-backup-and-sync"
cask "google-chrome"
cask "google-cloud-sdk"
cask "iina"
cask "insomnia"
cask "iterm2"
cask "latest"
cask "lens"
cask "maccy"
cask "minecraft"
cask "mqtt-explorer"
cask "mullvadvpn"
cask "musicbrainz-picard"
cask "osxfuse"
cask "slack"
cask "spotify"
cask "standard-notes"
cask "steam"
cask "sublime-text"
cask "transmission"
cask "virtualbox"
cask "visual-studio-code"
cask "vlc"
mas "Affinity Photo", id: 824183456
mas "Amphetamine", id: 937984704
mas "Cyberduck", id: 409222199
mas "DaisyDisk", id: 411643860
mas "Microsoft Remote Desktop", id: 1295203466
mas "PDF Expert", id: 1055273043
mas "Presentify", id: 1507246666
mas "Short Menu", id: 510109287
mas "SiteSucker", id: 442168834
mas "WireGuard", id: 1451685025
mas "Xcode", id: 497799835
mas "Xnip", id: 1221250572
{{- end }}
