{{- if eq .chezmoi.os "darwin" }}
tap "dty1er/tap"
tap "fluxcd/tap"
tap "go-task/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "norwoodj/tap"
brew "ansible"
brew "argocd"
brew "asciinema"
brew "asciiquarium"
brew "awscli"
brew "binutils"
brew "bottom"
brew "calicoctl"
brew "chezmoi"
brew "clusterctl"
brew "coreutils"
brew "croc"
brew "curl"
brew "direnv"
brew "dog"
brew "flash"
brew "figlet"
brew "findutils"
brew "fish"
brew "fzf"
brew "gettext", link: true
brew "gh"
brew "git"
brew "git-lfs"
brew "gnupg"
brew "gnu-sed"
brew "go"
brew "gojq"
brew "grep"
brew "hadolint"
brew "helm"
brew "jq"
brew "krew"
brew "kubernetes-cli"
brew "kubie"
brew "kustomize"
brew "less"
brew "libiconv"
brew "lolcat"
brew "lsd"
brew "markdownlint-cli"
brew "mas"
brew "minio-mc"
brew "mosh"
brew "mtr"
brew "nano"
brew "neovim"
brew "nmap"
brew "openssh"
brew "p7zip"
brew "pinentry-mac"
brew "pre-commit"
brew "prettier"
brew "python"
brew "rclone"
brew "rsync"
brew "screen"
brew "shellcheck"
brew "sops"
brew "starship"
brew "stern"
brew "terminal-notifier"
brew "terraform"
brew "tflint"
brew "thefuck"
brew "tmate"
brew "tmux"
brew "tree"
brew "unzip"
brew "velero"
brew "vim"
brew "watch"
brew "wget"
brew "yamllint"
brew "ykman"
brew "yq"
brew "yubico-piv-tool"
brew "dty1er/tap/kubecolor"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"
brew "norwoodj/tap/helm-docs"
cask "alfred"
cask "alt-tab"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "google-chrome"
cask "iterm2"
cask "lens"
cask "maccy"
cask "microsoft-teams"
cask "slack"
cask "spotify"
cask "sublime-text"
cask "visual-studio-code"
mas "Affinity Photo", id: 824183456
mas "Amphetamine", id: 937984704
mas "Cyberduck", id: 409222199
mas "DaisyDisk", id: 411643860
mas "Microsoft Outlook", id: 985367838
mas "Microsoft Remote Desktop", id: 1295203466
mas "PDF Expert", id: 1055273043
mas "Presentify", id: 1507246666
mas "WireGuard", id: 1451685025
mas "Xcode", id: 497799835
mas "Xnip", id: 1221250572
{{- end }}
