[user]
  name = Devin Buhl
  {{- if (eq .personal "true") }}
  email = devin@buhl.casa
  signingKey = 9AFF9F70C7B840D6662F656397F4936F1BCD7E35
  {{- else }}
  email = devin.buhl@sectigo.com
  signingKey = 00624EE876AC1D038F14D18A196A94993054011B
  {{- end }}
[gpg]
  program = gpg
[format]
  signOff = true
[core]
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
  gpgsign = true
[merge]
  ff = only
[pull]
  rebase = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
