[user]
  name = Devin Buhl
  {{- if (eq .personal "true") }}
  {{- if (contains "termux" .chezmoi.homeDir) }}
  email = devin.kray@gmail.com
  signingKey = /home/devin/.ssh/update-me
  {{- else }}
  email = devin@buhl.casa
  signingKey = /Users/devin/.ssh/id_ed25519.pub
  {{- end }}
  {{- else }}
  email = devin.buhl@sectigo.com
  signingKey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDRyDr5sQ6mY2K3dmhITs3v+BhC9XKtYlUOCy3Xs0eEWXrh3LTNwtVdqOX09JWC4/CNP+zbSIHoy7VCW5P88y4bOyMpYKEtEi1BiClYSTiBF79EWQqtbxFNF5w56l+eq6igtaGnDCd8oYpFRwenPlNqyAXdRCxBT2SsMjNbtPfXLMafGL2eGKR5jelxxeupkL9K9rl2jdARNIeEF0Y6FXi8ccpGKJcsfpkS9Fq1EwHGhVOT2thV/Wang259ayrnTaUZ/rpMEF9y4j9g+kpzywJ8m8nb7YfF6cuisKlo/dfjXdIUUc5TL9K6MH0i3Z+I6hMhASwMaN8S7+6j9TCwR+6D
  {{- end }}
[gpg]
  format = ssh
[format]
  signOff = true
[core]
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
  gpgsign = true
[merge]
  ff = only
[pull]
  rebase = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[push]
  autoSetupRemote = true
[alias]
  yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
  a = add
  ap = add -p
  amc = am --continue
  b = branch
  bm = branch --merged
  bnm = branch --no-merged
  c = commit
  cl = clonr
  ca = commit --amend
  cane = commit --amend --no-edit
  cf = commit --fixup
  cm = commit --message
  co = checkout
  cob = checkout -b
  com = checkout master
  cp = cherry-pick
  d = diff
  dc = diff --cached
  dom = diff origin/master
  fo = fetch origin
  g = grep --line-number
  mbhom = merge-base HEAD origin/master
  mff = merge --ff-only
  ol = log --pretty=oneline
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pu = push
  puf = push --force
  pl = pull --rebase --autostash
  r = restore
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  rl = reflog
  riom = rebase --interactive origin/master
  rpo = remote prune origin
  s = status -sb
  ss = commit --message snapshot --no-gpg-sign
  su = submodule update
  wd = diff --patience --word-diff
