#!{{ .bash }}

# Install Homebrew
{{- if (eq .chezmoi.os "darwin") }}
if ! command -v brew &> /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
brew bundle --file ~/Brewfile
{{- end }}

# Install fish completions
if [ -d ~/.config/fish/completions ]; then
    if command -v chezmoi &> /dev/null; then
        chezmoi completion fish --output ~/.config/fish/completions/chezmoi.fish
    fi

    if command -v flux &> /dev/null; then
        flux completion fish > ~/.config/fish/completions/flux.fish
    fi

    if command -v helm &> /dev/null; then
        helm completion fish > ~/.config/fish/completions/helm.fish
    fi

    if command -v kustomize &> /dev/null; then
        kustomize completion fish > ~/.config/fish/completions/kustomize.fish
    fi

    if command -v velero &> /dev/null; then
        velero completion fish > ~/.config/fish/completions/velero.fish
    fi
fi

# Install nano syntax highlighting
if [ ! -d ~/.nano ]; then
    git clone https://github.com/scopatz/nanorc.git ~/.nano
fi
