#!{{ .bash }}

# Install fish completions
if [ -d /usr/local/share/fish/vendor_completions.d ]; then
    if command -v chezmoi &> /dev/null; then
        chezmoi completion fish --output /usr/local/share/fish/vendor_completions.d/chezmoi.fish
    fi
    if command -v flux &> /dev/null; then
        flux completion fish > /usr/local/share/fish/vendor_completions.d/flux.fish
    fi
    if command -v helm &> /dev/null; then
        helm completion fish > /usr/local/share/fish/vendor_completions.d/helm.fish
    fi
    if command -v kustomize &> /dev/null; then
        kustomize completion fish > /usr/local/share/fish/vendor_completions.d/kustomize.fish
    fi
    if command -v velero &> /dev/null; then
        velero completion fish > /usr/local/share/fish/vendor_completions.d/velero.fish
    fi
fi
