{{- if (contains "termux" .chezmoi.homeDir) }}
#!{{ lookPath "bash" }}
curl -sSfL \
    https://raw.githubusercontent.com/aquaproj/aqua-installer/v0.7.0/aqua-installer |
    | bash -s -- -v v0.10.2 -i $PREFIX/bin/aqua
aqua install -a -l
{{- end }}
