#!{{ .bash }}

chezmoi completion fish --output ~/.config/fish/completions/chezmoi.fish

{{- if (eq .chezmoi.os "darwin") }}
type brew &>/dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
brew bundle --file ~/Brewfile
{{- end }}

if [ ! -d ~/.nano ]; then
    git clone https://github.com/scopatz/nanorc.git ~/.nano
fi
