#!{{ lookPath "fish" }}

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
fisher install danhper/fish-ssh-agent
fisher install decors/fish-colored-man
fisher install edc/bass
fisher install franciscolourenco/done
fisher install kidonng/zoxide.fish
fisher install jorgebucaran/autopair.fish
fisher install jorgebucaran/spark.fish
fisher install nickeb96/puffer-fish
fisher install patrickf3139/fzf.fish
fisher install wfxr/forgit
