#!{{ .fish }}

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
fisher install danhper/fish-ssh-agent
fisher install decors/fish-colored-man
fisher install edc/bass
fisher install evanlucas/fish-kubectl-completions
fisher install franciscolourenco/done
fisher install jethrokuan/z
fisher install jorgebucaran/spark.fish
fisher install oh-my-fish/plugin-bang-bang
fisher install patrickf3139/fzf.fish
fisher install wfxr/forgit
