{{- $default := "truenas" -}}
{{- if contains "termux" .chezmoi.homeDir -}}
{{-   $default = "termux" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $default = "macos" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   if eq (index .chezmoi.osRelease "id") "fedora" -}}
{{-     $default = "fedora" -}}
{{-   end -}}
{{- end -}}
{{- $machine := promptChoiceOnce . "machine" "Machine" (list "macos" "termux" "truenas" "fedora") $default -}}
{{- $name := promptStringOnce . "name" "Git name" "Devin Buhl" -}}
{{- $email := promptStringOnce . "email" "Git email" "devin@buhl.casa" -}}
format: yaml
data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  machine: {{ $machine | quote }}
