{{- if eq (includeTemplate "machine" .) "macos" -}}
#!/bin/bash
# brewfile hash: {{ include "dot_config/homebrew/brewfile" | sha256sum }}
set -euo pipefail
brew bundle --no-upgrade --file="{{ .chezmoi.homeDir }}/.config/homebrew/brewfile"
{{- end -}}
