function update_completions --description 'Update shell completions'
    if type -q chezmoi
        chezmoi completion fish --output /usr/local/share/fish/vendor_completions.d/chezmoi.fish
    end
    if type -q flux
        flux completion fish > /usr/local/share/fish/vendor_completions.d/flux.fish
    end
    if type -q helm
        helm completion fish > /usr/local/share/fish/vendor_completions.d/helm.fish
    end
    if type -q kustomize
        kustomize completion fish > /usr/local/share/fish/vendor_completions.d/kustomize.fish
    end
    if type -q velero
        velero completion fish > /usr/local/share/fish/vendor_completions.d/velero.fish
    end
end
