function tf --wraps=terraform --description 'terraform shorthand'
   {{- if eq .osid "linux-android" }}
   proot -b $PREFIX/etc/resolv.conf:/etc/resolv.conf terraform $argv
   {{- else }}
   terraform $argv
   {{- end }}
end
