function up --description 'updates packages'
{{- if (contains "termux" .chezmoi.homeDir) }}
    echo "Updating system..."
    pkg up -y

    echo "Updating kubectl..."
    curl -fsSL -o "$PREFIX/bin/kubectl" \
        "https://dl.k8s.io/release/"(curl -sL https://dl.k8s.io/release/stable.txt)"/bin/linux/arm64/kubectl"

    echo "Updating chezmoi..."
    set chezmoi_version (curl -sL "https://api.github.com/repos/twpayne/chezmoi/releases/latest" | jq --raw-output ".tag_name" | sed '1s/^.//') \
    && curl -fsSL -o "$PREFIX/tmp/chezmoi.tar.gz" \
        "https://github.com/twpayne/chezmoi/releases/download/v"$chezmoi_version"/chezmoi_"$chezmoi_version"_linux_arm64.tar.gz" \
    && tar zxf "$PREFIX/tmp/chezmoi.tar.gz" -C "$PREFIX/tmp" \
    && mv "$PREFIX/tmp/chezmoi" "$PREFIX/bin/chezmoi" \
    && rm -rf "$PREFIX"/tmp/*

    echo "Updating kustomize..."
    set kustomize_version (curl -sL "https://api.github.com/repos/kubernetes-sigs/kustomize/releases" | jq --raw-output "map(select(any(.assets[].name; contains(\"kustomize\"))))[0].tag_name" | sed 's/.*\///') \
    && curl -fsSL -o "$PREFIX/tmp/kustomize.tar.gz" \
        "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2F"$kustomize_version"/kustomize_"$kustomize_version"_linux_arm64.tar.gz" \
    && tar zxf "$PREFIX/tmp/kustomize.tar.gz" -C "$PREFIX/tmp" \
    && mv "$PREFIX/tmp/kustomize" "$PREFIX/bin/kustomize" \
    && rm -rf "$PREFIX"/tmp/*

    echo "Updating youtube-dl..."
    curl -fsSL -o "$PREFIX/bin/youtube-dl" \
        "https://yt-dl.org/downloads/latest/youtube-dl" \
    && chmod +x "$PREFIX/bin/youtube-dl"

    echo "Updating calicoctl..."
    set calicoctl_version (curl -sL "https://api.github.com/repos/projectcalico/calicoctl/releases/latest" | jq --raw-output ".tag_name") \
    && curl -fsSL -o "$PREFIX/bin/calicoctl" \
        "https://github.com/projectcalico/calicoctl/releases/download/"$calicoctl_version"/calicoctl-linux-arm64"\
    && chmod +x "$PREFIX/bin/calicoctl"

    echo "Updating yq..."
    curl -fsSL -o "$PREFIX/bin/yq" \
        "https://github.com/mikefarah/yq/releases/latest/download/yq_linux_arm64" \
    && chmod +x "$PREFIX/bin/yq"

    echo "Updating flux..."
    curl -fsSL "https://toolkit.fluxcd.io/install.sh" | bash -s "$PREFIX/bin" >/dev/null 2>&1

    echo "Updating taskfile..."
    sh -c (curl -fsSL https://taskfile.dev/install.sh) -- -d -b "$PREFIX/bin" >/dev/null 2>&1
{{- else }}
{{- if (eq .chezmoi.os "darwin") }}
    brew upgrade
{{- end }}
{{- end }}
    fisher update
end
