function up --description 'updates packages'
{{- if (contains "termux" .chezmoi.homeDir) }}
    echo "Updating system..."
    pkg up -y

    echo "Updating calicoctl..."
    set calicoctl_version (curl -sL "https://api.github.com/repos/projectcalico/calicoctl/releases/latest" | jq --raw-output ".tag_name")
    curl -fsSL -o "$PREFIX/bin/calicoctl" \
        "https://github.com/projectcalico/calicoctl/releases/download/"$calicoctl_version"/calicoctl-linux-arm64"
    chmod +x "$PREFIX/bin/calicoctl"

{{- end }}
{{- if (eq .chezmoi.os "darwin") }}
    brew upgrade
{{- end }}
    echo "Updating fisher..."
    fisher update > /dev/null 2>&1
end
