function aq --wraps=aqua --description 'aqua shorthand'
   {{- if (contains "termux" .chezmoi.homeDir) }}
   proot -b $PREFIX/etc/resolv.conf:/etc/resolv.conf aqua $argv
   {{- else }}
   aqua $argv
   {{- end }}
end
