{{- if not (contains "termux" .chezmoi.homeDir) }}
function afk --description 'Lock the box'
{{- if (eq .chezmoi.os "linux") }}
    command sudo systemctl suspend
{{- else if (eq .chezmoi.os "darwin") }}
    /System/Library/Frameworks/ScreenSaver.framework/Resources/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine
{{- end }}
end
{{- end }}
