set -gx DATASTORE_TYPE kubernetes

starship init fish | source
direnv hook fish | source
flux completion fish | source

{{- if (eq .chezmoi.os "android") }}
fish_add_path /data/data/com.termux/files/home/.cargo/bin
fish_add_path /data/data/com.termux/files/home/.krew/bin
{{- else if (eq .chezmoi.os "darwin") }}
test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish

fish_add_path "/usr/local/opt/gettext/bin"
fish_add_path "/usr/local/opt/libiconv/bin"
fish_add_path "/usr/local/opt/findutils/libexec/gnubin"
fish_add_path "/usr/local/opt/coreutils/libexec/gnubin"
fish_add_path "/usr/local/opt/grep/libexec/gnubin"
fish_add_path "/Users/devin/.jenv/bin"
fish_add_path "/usr/local/opt/ruby@2.7/bin"
fish_add_path "/usr/local/sbin"

thefuck --alias | source
status --is-interactive; and source (jenv init -|psub)
{{- end }}
