function cm --wraps=chezmoi --description 'chezmoi shorthand'
    if string match -q -- "{{ .chezmoi.sourceDir }}" (pwd)
        printf "Do not run chezmoi within the dotfiles repo you doofus"
        return
    else
        chezmoi $argv
    end
end
