function tf --wraps=terraform --description 'terraform shorthand'
   {{- if (contains "termux" .chezmoi.homeDir) }}
   proot -b $PREFIX/etc/resolv.conf:/etc/resolv.conf terraform $argv
   {{- else }}
   {{ lookPath "terraform" }} $argv
   {{- end }}
end
