{{- if (contains "termux" .chezmoi.homeDir) }}
function tupper --description 'updates termux packages'
    pkg update
    pkg upgrade -y

    curl https://mise.jdx.dev/mise-latest-linux-arm64-musl > $HOME/.local/bin/mise
    chmod +x $HOME/.local/bin/mise

    fisher update
end
{{- end }}
