function watch --description 'watch with fish alias support'
    if test (count $argv) -gt 0
        if type -q viddy
            {{ lookPath "viddy" }} -d -n 2 --shell {{ lookPath "fish" }} $argv[1..-1]
        else
            command {{ lookPath "watch" }} -x {{ lookPath "fish" }} -c "$argv"
        end
    end
end
