[settings]
experimental = true

{{- if (contains "termux" .chezmoi.homeDir) }}
[tools]
"aqua:helmfile/helmfile" = "latest"
"aqua:fluxcd/flux2" = "latest"
"aqua:go-task/task" = "latest"
"aqua:kubernetes-sigs/krew" = "latest"
"aqua:cilium/cilium-cli" = "latest"
"aqua:siderolabs/talos" = "latest"
"aqua:yannh/kubeconform" = "latest"
"aqua:kubernetes-sigs/kustomize" = "latest"
"aqua:stern/stern" = "latest"
"aqua:mitsuhiko/minijinja" = "latest"
{{- end }}
