{{- $machine := includeTemplate "machine" . -}}
[settings]
experimental = true

{{- if eq $machine "termux" }}
[tools]
"aqua:helmfile/helmfile" = "latest"
"aqua:fluxcd/flux2" = "latest"
"aqua:go-task/task" = "latest"
"aqua:kubernetes-sigs/krew" = "latest"
"aqua:cilium/cilium-cli" = "latest"
"aqua:siderolabs/talos" = "latest"
"aqua:yannh/kubeconform" = "latest"
"aqua:kubernetes-sigs/kustomize" = "latest"
"aqua:stern/stern" = "latest"
"aqua:mitsuhiko/minijinja" = "latest"
{{- else if eq $machine "truenas" }}
[env]
MISE_AQUA_GITHUB_ATTESTATIONS = "false"

[tools]
"aqua:1password/cli" = "v2.33.1"
"aqua:helmfile/helmfile" = "latest"
"aqua:fluxcd/flux2" = "latest"
"aqua:go-task/task" = "latest"
"aqua:kubernetes-sigs/krew" = "latest"
"aqua:cilium/cilium-cli" = "latest"
"aqua:siderolabs/talos" = "latest"
"aqua:yannh/kubeconform" = "latest"
"aqua:kubernetes-sigs/kustomize" = "latest"
"aqua:stern/stern" = "latest"
"aqua:mitsuhiko/minijinja" = "latest"
"aqua:cli/cli" = "latest"
"aqua:cloudflare/cloudflared" = "latest"
"aqua:FiloSottile/age" = "latest"
"aqua:kubernetes/kubectl" = "latest"
"aqua:mikefarah/yq" = "latest"
"aqua:helm/helm" = "latest"
"aqua:getsops/sops" = "latest"
"aqua:kubecolor/kubecolor" = "latest"
"aqua:lsd-rs/lsd" = "latest"
"aqua:google/yamlfmt" = "latest"
"aqua:evilmartians/lefthook" = "latest"
"aqua:casey/just" = "latest"
"aqua:kopia/kopia" = "latest"
"aqua:schollz/croc" = "latest"
"aqua:samwho/spacer" = "latest"
"aqua:autobrr/mkbrr" = "latest"
"aqua:charmbracelet/gum" = "latest"
"python" = "latest"
"github:home-operations/flate" = "latest"
"aqua:helmfile/vals" = "latest"
"aqua:homeport/dyff" = "latest"
"github:autobrr/go-mediainfo" = "latest"
"claude" = "latest"
"npm" = "latest"
"node" = "latest"
"codex" = "latest"
"rg" = "latest"
"sd" = "latest"
"fd" = "latest"
"starship" = "latest"
{{- end }}
